<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p class="d-flex p-2 flex-row justify-content-center">
      <img class="w-50" src="{{thumbnail_url}}"/>
    </p>
    <h3>Recipe</h3>
    <div>
      <p><b>Servings:</b> {{num_servings}}</p>
      <p><b>Ingredients:</b></p>
      <ol>
        {{#each ingredients}}
          <li>{{this.raw_text}}</li>
        {{/each}}
      </ol>
      <p><b>Directions:</b></p>
      <ol>
        {{#each instructions}}
          <li>{{this.display_text}}</li>
        {{/each}}
      </ol>
    </div>
    <!-- Favorite Button -->
  <p>
    {{#if logged_in}}
    {{#if isFavorite}}
    <button class="btn btn-primary mt-2" disabled id="favorite-button">
      Added to favorites
    </button>
    {{else}}
    <button class="btn btn-primary mt-2" id="favorite-button">
      Save this recipe!
    </button>
    {{/if}}
    {{else}}
    <button class="btn btn-primary mt-2" disabled>
      Log in to save recipes!
    </button>
    {{/if}}
  </p>
</div>

<script src="/js/favorite.js"></script>