<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p class="d-flex p-2 flex-row justify-content-center">
      <img class="w-50" src="{{thumbnail_url}}"/>
    </p>
    <h3>Recipe</h3>
    <div>
      <p><b>Servings:</b> {{num_servings}}</p>
      <p><b>Ingredients:</b></p>
      <ol>
        {{#each ingredients}}
          <li>{{this.ingredient.raw_text}}</li>
        {{/each}}
      </ol>
      <p><b>Directions:</b></p>
      <ol>
        {{#each instructions}}
          <li>{{this.display_text}}</li>
        {{/each}}
      </ol>
    </div>
    <!-- Favorite Button -->
  <p>
    <button onclick="toggleFavorite()" class="btn btn-primary mt-2" id="favorite-button">
      {{#if isFavorite}}Remove from Favorites{{else}}Save this recipe!{{/if}}
    </button>
  </p>
  <!-- Comment Section -->
  <div class="comments-section mt-4">
    <h3>Comments</h3>
    <ul id="comment-list">
      {{#each comments}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <div>
      <textarea id="comment-input" class="form-control" placeholder="Add a comment"></textarea>
      <button id="comment-btn" class="btn btn-primary mt-2">Add Comment</button>
    </div>
  </div>
</div>

<script>
let isFavorite = false;

function updateFavoriteButton(isFavorite) {
  const favoriteButton = document.getElementById('favorite-button');
  favoriteButton.textContent = isFavorite ? 'Remove from Favorites' : 'Save this recipe!';
}

function toggleFavorite() {
  isFavorite = !isFavorite;

  updateFavoriteButton(isFavorite);

  sendFavoriteStatusToServer(isFavorite);
}

function sendFavoriteStatusToServer(isFavorite) {
  fetch('/api/homeRoutes.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ isFavorite }),
  })
    .then(response => response.json())
    .then(data => {
      console.log('Favorite status updated successfully:', data);
    })
    .catch(error => {
      console.error('Error updating favorite status:', error);
    });
}
</script>
