<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Profile:</h3>

    <!-- Display user details -->
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <!-- Add more profile details as needed -->

    <!-- Add a section for updating user profile information if required -->

  </div>

  <div class="col-md-6">
    <h3>Your Recipes:</h3>

    <!-- Create a New Recipe Form -->
    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">Recipe Name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">Description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Recipe</button>
      </div>
    </form>

    <!-- Display Current Recipes -->
    {{#if recipes.length}}
      <div class="recipe-list mt-4">
        <h4>Your Current Recipes:</h4>

        {{#each recipes as |recipe|}}
          <div class="row mb-2">
            <div class="col-md-4">
              <img src="{{recipe.img_url}}" alt="{{recipe.dish_title}}" class="img-fluid">
            </div>
            <div class="col-md-8">
              <h5>{{recipe.dish_title}}</h5>
              <p>{{recipe.description}}</p>
              <p>Date Created: {{recipe.date_created}}</p>
              <!-- Add more details as needed -->

              <button class="btn btn-sm btn-danger delete-recipe" data-id="{{recipe.recipe_id}}">DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>No recipes found. Create a new recipe to get started!</p>
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>