<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Profile:</h3>

    <!-- Display user details -->
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <!-- Add more profile details as needed -->

    <!-- Add a section for updating user profile information if required -->

  </div>

  <div class="col-md-6">
    <h3>Your Projects:</h3>

    <!-- Create a New Project Form -->
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">dish Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create recipe</button>
      </div>
    </form>

    <!-- Display Current Projects -->
    {{#if projects.length}}
      <div class="project-list mt-4">
        <h4>Your Current Projects:</h4>

        {{#each projects as |project|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h5><a href="/project/{{project.id}}">{{project.name}}</a></h5>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>No projects found. Create a new project to get started!</p>
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>